body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #00508B;
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
}

.navbar .nav-link {
    color: white !important;
}

.nav-link.active {
    background-color: #b5b3ff;
    border-radius: 10px;
    padding: 5px 15px;
}

.form-container {
    max-width: 600px;
    margin: 60px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-cancelar {
    background-color: #d9534f;
    color: white;
}

.btn-cancelar:hover {
    background-color: #c9302c;
}

.btn-cadastrar {
    background-color: #5cb85c;
    color: white;
}

.btn-cadastrar:hover {
    background-color: #4cae4c;
}